<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/3rd/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/app.css">
  <title>Document</title>
</head>

<body>
  <div class="app">
    <div class="nav-main ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Motto Care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Danh mục sản phẩm
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="purchase?type=nhot">Nhớt & dung dịch</a>
                <a class="dropdown-item" href="purchase?type=dts">Đồ chơi xe</a>
                <a class="dropdown-item" href="purchase?type=balo">Phụ kiện</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
          </ul>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <form class="form-inline my-2 my-lg-0 ml-auto" action="/search" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search_product"
                  aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="dropdown">
                  <div>
                    <a class="dropdown-item btn btn-outline-success" role="button" href="/account/login">Log in</a>
                  </div>
                </div>
            </ul>
          </div>
          </ul>
        </div>
    </div>
    </nav>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6" style="text-align: center;">
        <% if (message) {%>
          <span style="color: red;"><%= message %></span>
        <% } %>
        <form id="form_login" action="/account/login/handle" method="post">
          <h4 class="fw-bold">Đăng nhập</h4>
          <div class="row">
            <label>Tên đăng nhập</label>
            <input class="form-control" type="text" placeholder="Nhập tên đăng nhập" name="username">
          </div>
          <div class="row">
            <label>Pass</label>
            <input class="form-control" type="password" placeholder="Nhập mật khẩu" name="password">
          </div>
          <button class="btn btn-warning m-3">Đăng nhập</button>
          <a href="/account/register">Bạn chưa có tài khoản</a>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="footer-main mt-5">
    <footer class="footer">
      <div class="footer2">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="fw-bold">Liên hệ</h4>
              <p>
                <span class="fw-bold">Điện thoại:</span> 086 270 1467 <br>
                <span class="fw-bold">Email:</span> Trannguyenthanhhaupro09@gmail.com <br>

              </p>
            </div>
            <div class="col-sm-3">
              <h4 class="fw-bold">Về chúng tôi</h4>
              <p>
                Thanh Hậu Mottocare hoạt động tập trung vào mảng chăm sóc và đồ chơi cho mọi loại xe
                hai bánh.
                Phương châm làm việc cũng như kinh doanh của chúng tôi luôn hướng đến uy tín và làm
                hài lòng
                khách hàng.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer3">
        <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <p style="color:rgb(117, 117, 117)">© Copyright by Thanhhau Motorcare</p>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>